<html>
<head>
	<title>Book Shop</title>
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	<link rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Open+Sans:600'>
	<script src ="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>
    <link rel="icon" type="image/png" href="app/main/img/favicon-32x32.png" sizes="32x32" />
	<link rel="stylesheet" href="style/style.css">
	<link rel="stylesheet" type="text/css" href="style/bootstrap/css/bootstrap.min.css"/>
</head>
<body ng-app='books'>
	<!-- logo -->
	<div class="row">
		<div class="col-sm-6 col-md-3">
			<img alt="Brand" src="app/main/img/logo.png" class="logo" >
		</div>
			<div>
				<img alt="sign" src="app/main/img/adds.gif" class="img-left">
			</div>
	</div>
	<div class="head">
<img src="app/main/img/slider1.jpg" class="img-responsive" style="width:100% ">
</div>
	<!-- <div class="container"></div> -->
	<div id="custom-bootstrap-menu" class="navbar navbar-default " role="navigation">
		<div class="container">
			<div class="navbar-header"><a class="navbar-brand">Bookstore </a>
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-menubuilder"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
				</button>
			</div>
			<div class="collapse navbar-collapse navbar-menubuilder">
				<ul class="nav navbar-nav navbar-left">
					<li checked><a href="#/main">Home</a>
					</li>
					<li><a href="#/aboutus">About Us</a>
					</li>
					<li><a href="#/books">Library</a>
					</li>
					<li><a href="#/orders">Orders</a>
					</li>
					<li><a href="#/books/add2">books</a>
					<!-- <li><a href="#/books/add2">books</a> -->
					</li>
					<li ng-model="search" >     
				<form class="navbar-form navbar-left">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Search" ng-model="search">
    </div>
    <button type="submit" class="btn btn-default">Search</button>
  </form></li>
					<li  ng-click="show()" ng-hide="loggedIN"><a href="#/signin">SignIn</a>
					</li>
					<li><a href="#/signup">Sign Up</a>
					</li>
					<li><a href="#/signout">sign out</a>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li ><a href="" id="UserName"></a></li>
				</ul>

			</div>
		</div>
	</div>
	<ng-view></ng-view>
	<footer class="container-fluid bg-4 text-center">
		<div>2017</div>
		<br>
		<p>BookStore Made By Rbk.org</p>
		<br>
	</footer>

    <!-- <script src="http://maps.google.com/maps/api/js"></script> -->
	<script src="style/bootstrap/js/bootstrap.min.js"></script>
	<script src="lib/jquery.js"></script>
	<script src="lib/angular/angular.js"></script>
	<script src="lib/angular-route/angular-route.js"></script>
	<script src="lib/ngmap/build/scripts/ng-map.min.js"></script>
	<script src="app/account/books.js"></script>
	<script src="app/account/Order.js"></script>
	<script src="app/account/auth.js"></script>
	<script src="app/account/MyController.js"></script>
	<script src="app/main/main.js"></script>
	<script src="app/services.js"></script>
	<script src="app/app.js"></script>
	
</body>
</html>


<script type="text/javascript">
		if(localStorage.getItem('user.book')){
		$('#UserName').html(localStorage.getItem('user.book')).css("color", "#7B003A");	
		}
</script>