html, body{
	margin:0;
	 overflow-x:hidden;
	/*background:#c8c8c8;*/
	font:600 16px/18px 'Open Sans',sans-serif;
	width:100%;
}

#custom-bootstrap-menu{
	/*background-color: #7B003A;*/
	
}

.hr{
	height:2px;
	margin:60px 0 50px 0;
	background:rgba(255,255,255,.2);
}
.foot-lnk{
	text-align:center;
}

#map-n{
  margin-left: 218;
  position:center;
  height: 400px;
  width: 700px;
}
/*#map-canvas{
  position:center;
  height: 400px;
  width: 700px;
}*/

.logo {
	width: 250;
	margin-left: 120;
}

.img-left {

	margin: 0 0 0 0;  
	padding: 15 100;
	float: right; 
	width: 850	;
	height: 220
}
footer {
	background-color: #7B003A;
	color: #fff
}
footer div{
  background-color: #B88B29;
  color: #B88B29
}

/*login*/
@media (min-width: 768px) {

    .omb_row-sm-offset-3 div:first-child[class*="col-"] {
      margin-left: 25%;
    }
  }

  .omb_login .omb_authTitle {
    text-align: center;
    line-height: 100%;
  }

  .omb_login .omb_socialButtons a {
    color: #C8962D; // In yourUse @body-bg 
    opacity:0.9;
  }
  .omb_login .omb_socialButtons a:hover {
    color: #C8962D;
    opacity:1;      
  }
  

  .omb_login .omb_loginOr {
    position: relative;
    font-size: 1.5em;
    color: #aaa;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }
  .omb_login .omb_loginOr .omb_hrOr {
    background-color: #C8962D;
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }
  .omb_login .omb_loginOr .omb_spanOr {
    display: block;
    position: absolute;
    left: 50%;
    top: -0.6em;
    margin-left: -1.5em;
    background-color: white;
    width: 3em;
    text-align: center;
  }     

  .omb_login .omb_loginForm .input-group.i {
    width: 2em;
  }
  .omb_login .omb_loginForm  .help-block {
    color: red;
  }

  @media (min-width: 768px) {
    .omb_login .omb_forgotPwd {
      text-align: right;
      margin-top:10px;
    }   
  }
.head{
	margin-left: 0
}
#custom-bootstrap-menu{
	margin-bottom: 0
}

.orderlist{
  color: #7B003A
}


.thumbnail {
  border: 0px;
  position: relative;
  padding: 50px;
  border-radius: 0;
  margin-bottom:50px;
}

.thumbnail img {
 margin-top: 10px;
 margin-bottom: 30px;
 max-width: 100%;
}

.title,
.date {
  color: #444;
  margin: 0;
  font-size: 18px;
  font-weight: 800;
}

.date {
 color: #a3a3a3 ;
 font-size: 14px;
 font-weight: 200;
}



.rating {
  text-align: right;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  margin: 30px 0 -30px 20px;
}

.likes {
  
  background: #007d9d ;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  line-height: 40px;
  min-width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0 -30px 0 40px;
  text-align: center;
  font-weight: 200;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  transition: background 500ms;
}

.likes:hover {
  color: #F65A5B ;
  background: rgba(246, 90, 91, 0.25);
  transition: background 500ms;
}

.footer {
  text-align: center;
  margin: 80px 0 110px;
}

.footer h2 {
  font-size: 24px;
  margin-bottom: 25px;
}

.footer img {
 margin: 0 10px;
}

.hovereffect {
  width:100%;
  height:100%;
  float:left;
  overflow:hidden;
  position:relative;
  text-align:center;
  cursor:default;
}

.hovereffect .overlay {
  width:100%;
  height:100%;
  position:absolute;
  overflow:hidden;
  top:0;
  left:0;
  opacity:0;
  background-color:rgba(0,0,0,0.5);
  -webkit-transition:all .4s ease-in-out;
  transition:all .4s ease-in-out
}

.hovereffect img {
  display:block;
  position:relative;
  -webkit-transition:all .4s linear;
  transition:all .4s linear;
}

.hovereffect h2 {
  text-transform:uppercase;
  color:#fff;
  text-align:center;
  position:relative;
  font-size:17px;
  background:rgba(0,0,0,0.6);
  -webkit-transform:translatey(-100px);
  -ms-transform:translatey(-100px);
  transform:translatey(-100px);
  -webkit-transition:all .2s ease-in-out;
  transition:all .2s ease-in-out;
  padding:10px;
}

.hovereffect a.info {
  text-decoration:none;
  display:inline-block;
  text-transform:uppercase;
  color:#fff;
  border:1px solid #fff;
  background-color:transparent;
  opacity:0;
  filter:alpha(opacity=0);
  -webkit-transition:all .2s ease-in-out;
  transition:all .2s ease-in-out;
  margin:50px 0 0;
  padding:7px 14px;
}

.hovereffect a.info:hover {
  box-shadow:0 0 5px #fff;
}

.hovereffect:hover img {
  -ms-transform:scale(1.2);
  -webkit-transform:scale(1.2);
  transform:scale(1.2);
}

.hovereffect:hover .overlay {
  opacity:1;
  filter:alpha(opacity=100);
}

.hovereffect:hover h2,.hovereffect:hover a.info {
  opacity:1;
  filter:alpha(opacity=100);
  -ms-transform:translatey(0);
  -webkit-transform:translatey(0);
  transform:translatey(0);
}

.hovereffect:hover a.info {
  -webkit-transition-delay:.2s; 
  transition-delay:.2s;
}

